@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');

html {
  scroll-behavior: smooth;
  position: relative;
  min-height:100%;
  font-family: 'Fira Sans', 'Roboto', 'Helvetica Neue', 'Noto Sans', sans-serif;
}

p {
    text-align: justify;
    hyphens: auto;
}

@media (max-width: 382px) {
    p {
        text-align: left;
        hyphens: none;
    }
}

img {
    margin: auto;
    display: block;
    max-width: 90%;
}

ul {
    list-style-type: square;
}

pre {
    border-radius: 12px;
    overflow-x: auto;
    font-family:Consolas,Monaco,andale mono,ubuntu mono,monospace;
}

/* Class dependent part */

/* Header */
nav {
    font-size: 1.8rem;
    height: 4.5rem;
}

#top-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#top-bar li {
    padding: 14px 16px;
    display: inline;
}
#top-bar .home-button {
    display: inline;
    float: left;
}
#top-bar .nav-links {
    display: inline;
    float: right;
}
#top-bar a {
    text-decoration: none;
    color: black;
}

/* Footer */
body {
    margin-bottom: 13rem;
}
#bottom-bar {
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.8rem;
    max-width: 500px;
    overflow:hidden;
}

/* Subtitles */
.subheading h2 {
    margin-bottom : 0;
}

.subheading p {
    color      : #666;
    font-style : italic;
    margin-top : 7px;
    text-indent: 1.5em;
}
