/* Load custom fonts custom fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-VF.woff2') format('woff2-variations');
  font-weight: 125 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-Italic-VF.woff2') format('woff2-variations');
  font-weight: 125 900;
  font-stretch: 75% 125%;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height:100%;
  font-family:'Montserrat', 'Avenir', 'Avenir Next LT Pro', 'Corbel', 'URW Gothic', source-sans-pro, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', 'Lato', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Noto Sans', sans-serif;
  font-weight: 500;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
  hyphens: auto;
}

@media (max-width: 382px) {
  p {
    text-align: left;
    hyphens: none;
  }
}

img, video, object {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
}

object {
  align: middle;
}

ul {
  list-style-type: square;
}

pre {
  background-color: initial;
  border-radius: 12px;
  overflow-x: auto;
  font-family:'IBM Plex Mono',Consolas,Monaco,monospace;
}

hr {
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  width: 100%;
}

/* Class dependent part */

/* Header */

#top-bar {
  margin-bottom: 3rem;
}

#top-bar ul {
  font-size: 2rem;
  height: min-content;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#top-bar li {
  display: inline;
}
#top-bar .home-button {
  float: left;
}
#top-bar .nav-links {
  float: right;
}

#top-bar .nav-links > li {
  padding-inline-start: 4rem;
}

#top-bar .menu-button {
  display: none;
  float: right;
}

#top-bar a {
  text-decoration: none;
  color: #959595;
  transition: color 0.3s ease-in;
}

#top-bar a:hover, #top-bar a:active {
  border: none;
  color: #222222;
  transition: color 0.3s ease-out;
}

@media screen and (max-width: 484px) {
  #top-bar ul {
    height: auto;
    text-align: center;
  }
  #top-bar .nav-links > li {
    padding-inline-start: 0.5rem;
  }
}

/* Footer */
body {
  margin-bottom: 13rem;
}

#bottom-bar {
  font-size: 1.2rem;
  color: #313531;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.8rem;
  max-width: 500px;
  overflow:hidden;
  padding-top: 1rem;
  border-top: 1px solid #d2d2d2;
}

/* Subtitles */
.subheading h2 {
  margin-bottom : 0;
}

.subheading p {
  color      : #666;
  font-style : italic;
  margin-top : 7px;
  text-indent: 1.5em;
}

/* Post list */

.post-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post-list li {
  display:block;
  margin: 0rem;
}

.post-list a {
  color: #222222;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 10px 10px;
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.post-list a:hover {
  /* background-color: #d2d2d223; */
  background-color: #008b6a23;
  transition: background 0.3s ease-in-out;
}

.post-list .date {
  font-family: monospace;
  color: #959595;
  margin-left: 2rem;
}

/* Post typography */
.date {
  text-align: center;
  color: #868686;
}

#share-this-page {
  text-align: right;
}

.share-link {
  display: inline-block;
  margin: 1rem 1rem 0 1rem;
}

.hr-text {
    display: flex;
    align-items: center;
    text-align: center;
    color: #d2d2d2;
    font-size: 1.6rem;
    font-variant: small-caps;
    letter-spacing: 0.05em;
}
.hr-text::before, .hr-text::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #d2d2d2;
}
.hr-text::before {
    margin-right: .25em;
    /* margin-left: 3%; */
}
.hr-text::after {
    margin-left: .25em;
    /* margin-right: 3%; */
}

/* About me page */
.profile {
  width:  200px;
  height: 200px;
  max-width: 200px;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  padding-right: 20px;
}

.illustration {
   display: block;
   margin: 0 auto;
}
