/*
* Publications List *
*/

.pub-list {
  list-style: none;
  margin:     0;
  padding:    0;
  display:    grid;
  gap:        0.5rem;

  > li {
    padding:   6px 0 3px 0;
    max-width: calc(var(--article-width));

    .title {
      font-weight: 600;
      padding:      0 0 6px 0;
      line-height: 1.3;

      a {
        color:           inherit;
        text-decoration: none;
      }
    }

    .date {
      background:   var(--color-attention);
      color:        var(--color-background);
      font-weight:  600;
      font-size:    var(--font-size-small);
      padding:      4px 8px;
      margin:       0 2px 0 0;
    }

    .meta {
      display:     flex;
      flex-wrap:   wrap;
      gap:         0.5rem 1rem;
      align-items: center;
    }

    .authors {
      width: 100%;
    }

    .venue {
      background:   var(--color-crystal);
      color:        var(--color-accent);
      font-weight:  600;
      font-size:    var(--font-size-small);
      padding:      4px 8px;
      text-wrap:     balance;

      &:hover {
        color:             var(--color-accent);
        border-left-color: var(--color-accent);
        transform:         translateY(-2px);

        box-shadow: 2px 2px 1px rgba(36, 36, 36, 0.5);
      }
    }

    .arxiv {
      flex:            0 0 auto;
      text-decoration: none;
    }
  }
}
