/*
* Publications List *
*/

ul.pub-list {
  list-style: none;
  margin:     0;
  padding:    0;
  display:    grid;
  gap:        0.5rem;

  .pub-item {
    padding:   6px 0 3px 0;
    max-width: calc(var(--article-width));
  }

  .pub-title {
    font-weight: 600;
    padding:      0 0 6px 0;
    line-height: 1.3;
  }

  .pub-title a {
    color:           inherit;
    text-decoration: none;
  }

  .pub-meta {
    display:     flex;
    flex-wrap:   wrap;
    gap:         0.5rem 1rem;
    align-items: center;
  }

  .pub-authors {
    width: 100%;
  }

  .pub-venue {
    background:   var(--color-crystal);
    color:        var(--color-accent);
    font-weight:  600;
    font-size:    var(--font-size-small);
    padding:      4px 8px;
    text-wrap:     balance;
  }

  .pub-year {
    background:   var(--color-attention);
    color:        var(--color-background);
    font-weight:  600;
    font-size:    var(--font-size-small);
    padding:      4px 8px;
    margin:       0 2px 0 0;
  }

  .pub-arxiv {
    flex:            0 0 auto;
    text-decoration: none;
  }

  a.pub-venue:hover {
    color:             var(--color-accent);
    border-left-color: var(--color-accent);
    transform:         translateY(-2px);

    box-shadow: 2px 2px 1px rgba(36, 36, 36, 0.5);
  }
}
