/*
  ~*~ Color palette ~*~
*/

:root {
  --color-background: #fdfdfd;
  --color-typography: #222222;
  --color-faded:      hsl(0 0% 58%);
  --color-accent:     hsl(146 48% 29%);
  --color-lightning:  hsl(139 49% 68%);
  --color-crystal:    hsl(139 45% 82%);
  --color-super:      hsl(139 49% 92%);
  --color-attention:  hsl(188 49% 55%);
  --color-opposite:   hsl(39 100% 50%);

  --color-background-dark: var(--color-typography, #222222);
  --color-typography-dark: var(--color-background, #fdfdfd);

  --base-padding:     16px;
  --article-width:    min(40rem, 100vw - 32px); /* ~80 chars or full page with 16px margin */

  --font-base:    'Montserrat', 'Avenir', 'Avenir Next LT Pro', 'Corbel', 'URW Gothic', source-sans-pro, sans-serif;
  --font-heading: 'Montserrat', 'Lato', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Noto Sans', sans-serif;
  --font-code:    'IBM Plex Mono', Consolas, Monaco, monospace;

  --font-size-base:  1rem;
  --font-size-small: 0.8rem;
}

/*
  ~*~ Custom fonts ~*~
*/

@font-face {
  font-family:  'Montserrat';
  src:          url('/font/Montserrat-VF.woff2') format('woff2-variations');
  font-weight:  125 900;
  font-stretch: 75% 125%;
  font-style:   normal;
}

@font-face {
  font-family:  'Montserrat';
  src:          url('/font/Montserrat-Italic-VF.woff2') format('woff2-variations');
  font-weight:  125 900;
  font-stretch: 75% 125%;
  font-style:   italic;
}
